* {
  box-sizing: border-box;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

main {
  display: flex;
  flex-grow: 1;
}

/* header */
header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

h1 {
  color: #FFF;
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
}

span {
  color: #FFC30C;
  font-weight: 800;
}

.search {
  background-image: url("assets/search.svg");
  background-repeat: no-repeat;
  border-radius: 3px;
  display: inline-block;
  outline: none;
  padding-left: 4em;
  width: 45em;
}
/* end of header */

/* aside */
aside {
  background-color: #587A8A;
}

.sidebar-section {
  padding: 1em;
}

.input-label {
  color: #F3F6F7;
}

.task-title-input-field,
.blue-aside-btn {
  border-radius: 3px;
  height: 3em;
  outline: none;
  width: 100%;
}

.task-title-input-field {
  margin-bottom: 2em;
}

.task-item-container {
  border-radius: 3px;
  display: inline-block;
  float: right;
  position: relative;
  width: 100%;
}

.task-item-input-field {
  border-radius: 3px;
  height: 3em;
  outline: none;
  position: relative;
  width: 100%;
}

.add-task-item-btn,
.blue-aside-btn,
#clear-all-btn {
  cursor: pointer;
  outline: none;
}

.add-task-item-btn {
  background-color: #1F1F3D;
  color: #FFF;
  font-size: 20px;
  height: 100%;
  position: absolute;
  right: 0;
  width: 15%;
}

.blue-aside-btn {
  background-color: #1F1F3D;
  color: #FFF;
  font-size: 1em;
  margin-top: 2em;
}

#clear-all-btn {
  margin-top: 2em;
}

hr {
  margin: 1em 0;
}

button:hover {
  border: solid 2px #FFF;
  filter: brightness(180%);
}

.task-items-placeholder {
  color: #FFF;
}

.delete-icon {
  height: 1.5em;
  width: 1.5em;
}
/* end of aside */

/* todo card */
.todo-card {
  background-color: #FAFDFF;
  border: 2px solid #C7D3D8;
  display: inline-block;
  /* height: 40%; */
  margin: 2em;
  width: 30%;
}

h3,
.task-item {
  color: #1F1F3D;
  padding: .5em;
}

.checkbox {
  height: 1em;
  margin-right: .5em;
  width: 1em;
}

.task-item {
  display: flex;
  margin-bottom: 1em;
  margin-left: .5em;
}

.todo-card-image {
  height: 1.5em;
  margin-left: 1em;
  width: 1.5em;
}

.todo-card-bottom {
  display: flex;
  justify-content: space-between;
  padding: .5em;
}

.card-text-bottom {
  color: #3C6577;
  text-transform: uppercase;
}
/* end of todo card */

/* right side main section */
.main-section {
  /* column-count: 2; */
  background-color: #F3F6F7;
  flex-grow: 1;
  padding: 1em;
}

.hide {
  display: none;
}
/* end of right side main section */
